<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

    <style>
        .container{
            padding: 10px 40px;
        }

        header {
            background-color: #00acee;
            padding: 6px 18px;
        
        }

        h1 {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            line-height: 1.7;
        }
    </style>
    <div class="container">
        <header>
            <h1>Jeria Excell Levy</h1>
        </header>
        
        <section>
            <p>I am currently working as a System Administrator at Cornerstone Trust and Merchant Bank. I have grown to appreciate the role that computers and information technology plays in society and now is better able to direct the use of technology in a beneficial way and to solve new IT problems. This course in Web Development is contributing greatly to my knowledge base and that I really appreciate. </p>
        </section>
    </div>

</body>
</html> 